%div
  Leave Credits:
  %span#leave-credits= @employee.leave_account.credits
.row
  %div{ class: "large-8 columns" }
    = render "leaves_table"

  %div{ class: "large-4 columns" }
    = render "leave_form"

- if current_employee.hr?
  .row
    %a.button#add-credit{ href: '#', data: {reveal: {id: 'leave-credits-modal'}} } Add Credits

  = render 'leave_credits_modal'
