%h3 My Profile

%dl#employee-tab{ class: "tabs", data: { tab: true, options: "deep_linking: true" } }
  %dd{ class: "active" }
    %a{ href: "#basic" } Basic Info
  %dd
    %a{ href: "#leaves" } Leaves

.tabs-content
  .content#basic
    = render "basic_tab"
  .content#leaves
    = render "leaves_tab"
