%tr
  %td
    = leave.requester.name
  %td
    = leave.leave_date.strftime("%b %-d, %Y")
  %td
    - if leave.pending?
      = link_to 'Approve', leave_path(leave, status: "approve"), method: :put
      |
      = link_to 'Reject', leave_path(leave, status: "reject"), method: :put
    - elsif leave.approved?
      Approved
    - else
      Rejected
