%p #{@leave.employee.decorate.full_name},
%p
  Your leave request has been approved.
  Just in case you forgot about it, here are the details you provided:

%dl
  %dt Leave Date:
  %dd= @leave.decorate.leave_date
  %dt Reason:
  %dd= @leave.reason
